@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"), local("PTSans-Regular"), 
         url("fonts/ptsans.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"), local("PTSans-Bold"), 
         url("fonts/ptsansbold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: normal;
	font-family: "PT Sans", Verdana, sans-serif;
	text-transform: uppercase;
	background-color: #ffffff;
}

.site-navigation,
.socialnetwork ul,
.main2 ul,
.sort {
	list-style: none;		
}

.site-navigation a,
.main-footer a,
.sort a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.site-navigation a.current {
	color: #766357;
}

.site-navigation a.current:hover {
	color: #81b3d2;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #cacaca;
}

.central {
	background: #deebf4;
}
.cause {  
	font-size: 21px;
	line-height: 26px;
	color: #333333;
	font-weight: bold;
	text-align: center;
}

.cause p {  
	font-size: 14px;
	font-weight: normal;
}

.main1,
.main3 {  
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
	line-height: 21px;
}

.realcity b,
.main3 b,
.main2 b,
.main4 b {  
	font-size: 21px;
	font-weight: bold;
}

.main2,
.main4,
.interest p {
	color: #333333;
	text-align: center;
}

.interest b {
	font-size: 30px;
	font-weight: bold;
}

.interest button.button {
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	background-color: #766357;
	padding: 30px 115px;
	text-transform: uppercase;
}

.interest button:hover {
	background-color: #604e43;
}
.interest button:active {
	color: #928a85;
	background-color: #604e43;
}

[class^="form"],
.interest input {
	font-weight: bold;
	text-transform: uppercase;
}
 
.interest  {
 	background-color: #f2f2f2; 		
}

.interest input[value="найти"] {
	color: #ffffff;
	font-size: 21px;
	font-weight: bold;
	background-color: #81b3d2;
	text-transform: uppercase;
	padding: 15px 190px;
}

.interest input[value="найти"]:hover {
	background-color: #5496bd;
}

.interest input[value="найти"]:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.interest input[type="text"] {
	background-color: #f2f2f2;
}

.interest input[type="text"]:hover {
	background-color: #ebebeb;
}

.interest input[type="text"]:focus {
	background-color: #ffffff;
}

.main-footer > a {  
	font-size: 21px;
	font-weight: bold;
}

.search1 form {
	color: #ffffff;
	background-color: #628cb4;
}

.search1 legend,
.search1 span,
.search2 b {
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
}

.name-item {
color: #000000;
}

.form-hotel2 input {
	color: #ffffff;
	text-transform: uppercase;	
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 1px;
	padding: 10px 35px;
}

.search1 input[type="text"] {
	color: #ffffff;
	background-color: transparent;
	line-height: 21px;
}

.search1 input[type="button"]:hover {
	color: #000000;
	background-color: #ffffff;
}

.search2 span,
.sort {
	font-size: 12px;
	line-height: 18px;
}

.active {
	color: #81b3d2;
	border-bottom: none;
}

.sort a {
	font-weight: normal;
	border-bottom: 1px dotted #81b3d2;
	color: #333333;
}

.sort a:hover {
	color: #81b3d2;
}

.sort a:active {
	color: #000000;
	border-bottom: none;
}

.amara-name p,
.amara-name span {
	color: #333333;
	line-height: 21px;
}

.amara-name a,
.desert-name a,
.villas-name a {
	text-decoration: none;
}

.detail {
	color: #ffffff;
	line-height: 21px;
	font-weight: bold;
	background-color: #81b3d2;
	padding: 5px 15px;
}

.detail:hover {
	background-color: #5496bd;
}

.detail:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.search3 input {
	color: #ffffff;
	line-height: 21px;
	font-size: 14px;
	font-weight: bold;
	background-color: #766357;
	padding: 5px 15px;
	text-transform: uppercase;
}

.search3 input:hover {
	background-color: #604e43;
}
.search3 input:active {
	color: #928a85;
	background-color: #604e43;
}

.rating {
	line-height: 21px;
	background-color: #f2f2f2;
}

.name-item:hover {
	color: #81b3d2;
}

.name-item:active {
	color: #cacaca;
}

.interest input[type="button"] {
	color: #a9a9a9;
}

.interest input[type="button"]:hover {
	color: #000000;
}

.interest input[type="button"]:active {
	color: #81b3d2;
}






.site-navigation {
	display: flex;
	width: 1200px;
	justify-content: space-around;
}

.logo {
	position: absolute;
	left: 600px;
	top: -14px;
}

.main-header {
	position: relative;
	margin: 0 auto;
	width: 1160px;
}
.site-navigation li {
	flex-basis: 240px
}

.central {
	width: 1200px;
	height: 508px;
}

.cause {
	width: 1200px;
	height: 216px;
}
.cause b {
	display: block;
	padding: 60px 40px 15px;
}

.main1 {
	display: flex;
	width: 1200px;
	justify-content: flex-end;
}

.realcity,
.bridge {
	flex-basis: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
  padding: 0;
}

.img1,
.img2 {
	width: 800px;
	height: 256px;
}

.main2 ul,
.main4 {
	display: flex;	
	width: 1200px;
	height: 330px;
	justify-content: space-around;
	margin: 0;
  padding: 0;
  align-items: flex-end;
}
.main3 {
	display: flex;
	width: 1200px;
	justify-content: flex-start;
}
.main4 {
	height: 256px;
	background-color: #eeeeee;
	justify-content: space-around;
	align-items: center;
}
.interest {
	display: block;
	width: 1200px;
	height: 290x;
	background-color: #ffffff;
}

.interest form {
	width: 568px;
	height: 395px;
	background-color: #568793;
}

.map {
	width: 1200px;
	height: 592px;
}

.main-footer {
	display: flex;
	position: absolute;
	width: 1010px;
	height: 120px;
	justify-content: space-between;
	align-items: center;
	top: 2950px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0 95px 0 135px;

}

.socialnetwork li {
display: inline-block;
}
