body {
  margin: 0;
  padding: 0;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: normal;
	font-family: "PT Sans", Verdana, sans-serif;
	text-transform: uppercase;
	background-color: #ffffff;
	text-align: center;
}

.wrap{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  box-shadow: 5px 0 15px rgba(0,1,1,0.2), -5px 0 15px rgba(0,1,1,0.2);
 }

.site-navigation,
.socialnetwork ul,
.main2 ul,
.sort,
.up-down {
	list-style: none;		
}

.site-navigation a,
.main-footer a,
.main-footer--hotels a,
.sort a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.site-navigation a.current {
	color: #766357;
}

.site-navigation a.current:hover {
	color: #81b3d2;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #cacaca;
}

.central {
	background: #deebf4 url(../img/sedona-grand.jpg) 50% 50% no-repeat;
	position: relative;
	width: 1200px;
  height: 508px;
  top: 0;
  left: 0;
  max-width: 100%;
}

.central img,
.img1,
.img2,
.amara img,
.desert img,
.villas img {
	line-height: 0;
	vertical-align: bottom;
}

.central::after {
  content: "";
  background: url(../img/layer11.png) 50% 50% no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 }

 .central::before {
  content: "";
  background: url(../img/shape.png) 50% 50% no-repeat;
  position: absolute;
  top: 451px;
  right: 0;
  bottom: 0;
  left: 0;
 }

.main1,
.main3 {  
	background-color: #81b3d2;
	color: #ffffff;
}

.main1,
.main2,
.main3,
.main4 {
line-height: 21px;
}

.inblue p:nth-child(1),
.main2 p:nth-child(1),
.main4 p:nth-child(1),
.sedona,
.main-footer > a,
.main-footer--hotels > a,
.search2 p {  
	font-size: 21px;
	font-weight: bold;	
}

.main2,
.main4,
.interest p:nth-child(2),
.cause p {
	color: #333333;
}

.main2 li:nth-child(1)::after,
.main2 li:nth-child(2)::after,
.main2 li:nth-child(3)::after {
  content: "";
  background: url(../img/icon-1.svg) 50% 50% no-repeat;
  position: absolute;
  width: 76px;
  height:76px;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
}

.main2 li:nth-child(2)::after{
  background: url(../img/icon-3.svg) 50% 50% no-repeat;
}

.main2 li:nth-child(3)::after {
  background: url(../img/icon-2.svg) 50% 50% no-repeat;
}

.interest p:nth-child(1) {
	font-size: 30px;
	font-weight: bold;
	margin: 0px 0 28px;
}

.interest button.button {
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	background-color: #766357;
	padding: 30px 0;
	text-transform: uppercase;
	width: 100%;
  max-width: 567px;
  margin: 30px auto 0;
}

.interest button.button:hover {
	background-color: #604e43;
}

.interest button.button:active {
	color: #928a85;
	background-color: #604e43;
}

[class^="form"],
.interest input {
	font-weight: bold;
	text-transform: uppercase;
}
 
.interest input[type="text"] {
	background-color: #f2f2f2;
	padding: 6px 15px;
	font-size: 14px;
  line-height: 26px;
  box-sizing: border-box;
}

.data-in-out {
	width: 100%;
}

.interest input[type="text"]:hover {
	background-color: #ebebeb;
}

.interest input[type="text"]:focus {
	background-color: #ffffff;
}

.search1 form {
	color: #ffffff;
}

.search1 legend,
.cost-filter-title {
	font-size: 16px;
	font-weight: bold;
}

.search2 span,
.sort {
	font-size: 12px;
	line-height: 18px;
}

.sort a {
	font-weight: normal;
	border-bottom: 1px dotted #81b3d2;
	color: #333333;
}

.sort a.curr {
	color: #81b3d2;
	border-bottom: none;
}

.sort a:hover {
	color: #81b3d2;
}

.sort a:active {
	color: #000000;
	border-bottom: none;
}

.amara-name p,
.amara-name span {
	color: #333333;
	line-height: 21px;
}

.amara-name a,
.desert-name a,
.villas-name a {
	text-decoration: none;
}

.detail {
	color: #ffffff;
	line-height: 21px;
	font-weight: bold;
	background-color: #81b3d2;
	padding: 4px 16px;
}

.detail:hover {
	background-color: #5496bd;
}

.detail:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.search3 input {
	color: #ffffff;
	line-height: 21px;
	font-size: 14px;
	font-weight: bold;
	background-color: #766357;
	padding: 4px 7px;
	text-transform: uppercase;
}

.search3 input:hover {
	background-color: #604e43;
}
.search3 input:active {
	color: #928a85;
	background-color: #604e43;
}

.rating {
	display: block;
	line-height: 21px;
	background-color: #f2f2f2;
}

.name-item {
	color: #000000;
}

.name-item:hover {
	color: #81b3d2;
}

.name-item:active {
	color: #cacaca;
}

.interest input[type="button"] {
	color: #a9a9a9;
}

.interest input[type="button"]:hover {
	color: #000000;
}

.interest input[type="button"]:active {
	color: #81b3d2;
}

.site-navigation {
	display: flex;
	padding: 14px 0px;
}

.logo {
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
}

.main-header {
	position: relative;
	margin: 0 auto;
	
}
.site-navigation li {
	flex-basis: 240px;
	text-align: center;
}

.site-navigation li:nth-child(2) {
	margin-right: auto;
}

.hotels {
	padding-left: 20px;
}

.sedona {
	padding: 40px 0 9px;
}

.cause p:nth-child(2) {
	margin-bottom: 51px;
}

.main1 {
	display: flex;
}

.number {
	flex-basis: 400px;
	display: flex;
	flex-direction: column;
	padding: 27px 0;
}

.main2 ul,
.main4 {
	display: flex;	
	justify-content: space-around;
	align-items: center;
}

.main2 ul {
	padding-left: 14px;
}

.main2 li {
	padding-top: 138px;
	position: relative;
}

.main2 p:nth-child(2) {
	margin: 22px 0 82px;
}

.main3 {
	display: flex;
}

.main4 {
	background-color: #eeeeee;
}

.interest {
	position: relative;
	padding-top: 72px;
}

.modal-form{
  width: 100%;
  max-width: 568px;
  padding: 55px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 7px 0 15px rgba(0,1,1,0.15), -7px 0 15px rgba(0,1,1,0.15);
	z-index: 1;
}

.form1,
.form2 {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.form1 label,
.form2 label {
  flex-shrink: 0;
  padding: 6px 20px 6px 0;
}

.buttom-form-calendar {
	position: absolute;
	width: 38px;
  height: 38px;
  top: 0;
  right: 0;
  background: transparent url(../img/calendar1.png) no-repeat 50% 50%;;
}

.buttom-form-calendar:hover {
  background: transparent url(../img/calendar.svg) no-repeat 50% 50%;;
}

.buttom-form-calendar:active {
  background: transparent url(../img/calendar3.png) no-repeat 50% 50%;;
}

.form-small{
  width: 50%;
  position: relative;
}

.form-small:first-child{
  text-align: left;
}

.form-small:last-child{
  text-align: right;
}

.form-small label {
  flex-shrink: 0;
  padding: 6px 35px 6px 0;
}

.form-small input{
  width: 115px;
  padding: 6px 5px;
  text-align: center;
}

.form-small-wrapper{
  display: flex;
  justify-content: space-between;
}

.form-small .form-small-btn{
  width: 38px;
  height: 38px;
  position: absolute;
  background: #f2f2f2;
}

.form-small-btn--left{
  left: 107px;
}

.form-small-btn--right{
  right: 0;
}

.interest input[value="найти"] {
	color: #ffffff;
	font-size: 21px;	
	background-color: #81b3d2;
	padding: 16px 0px;
	width: 100%;	
	margin-top: 55px;
}

.interest input[value="найти"]:hover {
	background-color: #5496bd;
}

.interest input[value="найти"]:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.map img{
	max-width: 100%;
}

.main-footer {
	width: 100%;
	min-height: 125px;
	display: flex;
	position: absolute;
	bottom: 0;
 	background-color: rgba(255, 255, 255, 0.9);
 	justify-content: space-between;
 	align-items: center; 	
}

.main-footer--hotels{
  background-color: rgb(255, 255, 255);
  position: relative;
  bottom: auto;
  display: flex;
  width: 100%;
	min-height: 118px;
	justify-content: space-between;
 	align-items: center;
}
.main-footer--hotels > a {
	padding-left: 132px;
}

.main-footer > a {
	padding-left: 132px;
}

.social-button {
	display: inline-block;
	width: 46px;
	height: 48px;
	margin: 0 2px;
	font-size: 0;
}

.socialnetwork {
	padding-left: 20px;
}

.socialnetwork a:first-child {
	background: #81b3d2 url(../img/twitter.svg) no-repeat 50% 50%;
}
.socialnetwork a:first-child:hover {
	background-color: #5496bd;;
}
.socialnetwork a:first-child:active {
	background: #5496bd url(../img/twitter-cl.svg) no-repeat 50% 50%;
}


.socialnetwork a:last-child {
	background: #81b3d2 url(../img/youtube.svg) no-repeat 50% 50%;
}
.socialnetwork a:last-child:hover {
	background-color: #5496bd;
}
.socialnetwork a:last-child:active {
	background: #5496bd url(../img/youtube-cl.svg) no-repeat 50% 50%;
}

.socialnetwork a:nth-child(2) {
	background: #81b3d2 url(../img/fb-icon.svg) no-repeat 50% 50%;
}
.socialnetwork a:nth-child(2):hover {
	background-color: #5496bd;;
}
.socialnetwork a:nth-child(2):active {
	background: #5496bd url(../img/fb-icon-cl.svg) no-repeat 50% 50%;
}

.bottom {
	display: flex;
	align-items: center;
	padding: 17px 100px 0 0;
}

.bottom a {
	font-size: 0;
}

.bottom span {
	padding-bottom: 13px;
}

.search1 {
	max-height: 218px;
	background: #628cb4 url(../img/img919.jpg)  50% 15% no-repeat;
	text-align: left;
}

.search1 form {
  display: flex;
  padding: 26px 60px 0; 
  width: 1068px;
}

.selection-form legend {
	margin: 0 0 19px;
}

.infrasrtrucure-item {
	display: block;
	width: 256px;
}
.selection-form input[type="checkbox"] {
  display: none;
}

.selection-form input[type="checkbox"] + label {
  display: block;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.housetype-item {
	width: 305px;
	display: block;
	padding-left: -10px;
}

.infrasrtrucure-item label, 
.housetype-item label {
  line-height: 21px;
  margin-bottom: 25px;
}

.cost-filter {
  position: relative;
  box-sizing: border-box;
  width: 536px;
  padding-left: 191px;
  display: block;
}

.cost-control {
  position: relative;
  margin-bottom: 20px;
  margin-left: 0px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  height: 32px;
  display: block;
}

.cost-filter-title {
  margin-bottom: 8px;
  display: block;
}

.cost-control .cost-from {
  padding-left: 62px;
}

.cost-control .cost-to {
  padding-left: 58px;
}

.cost-control::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  height: 22px;
  border: 1px solid #ffffff;
}

.cost-control label {
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 90px;
  cursor: pointer;
}

.cost-control input {
  width: 50px;
  color: #ffffff;
  font-family: inherit;
  font-size: 14px;
  border: none;
  background: none;
  line-height: 32px;
}

.cost-range {
  position: relative;
}

.cost-range .scale {
  height: 2px;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.3);
}

.cost-range .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  left: 2px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle-max {
 	left: 80%;
}

.selection-form button {
  position: absolute;
  right: 96px;
  bottom: 38px;
  padding: 6px 35px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  background: none;
  font-size: 14px;
  line-height: 20px;
}

.selection-form button:hover {
	color: #000000;
	background-color: #ffffff;
}

.range-toggle:hover {
  background: #1c4f80;
}

.selection-form input[type="checkbox"]:checked + label::before {
  content: "";
  background-image: url(../img/checkbox-on.svg);
}

.selection-form input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox-off.svg);
  top: 0;
  left: 0;
  width: 29px;
  height: 23px;
  font-size: 26px;
  background-repeat: space;
}

.search2 {
	display: flex;
	align-items: baseline;
	padding: 9px 72px 11px;
}

.up-down {
	display:  flex;
	font-size: 0;
	position: relative;
}

.sort li {
	display: inline-block;
}

.sort a {
	margin-right: 30px;
}

.icon-up::before {
  content: "";
  background: url(../img/icon-up-spok.png) 50% 50% no-repeat;
  position: absolute;
  top: 0px;
  right: -317px;
  width: 15px;
  height: 15px;
 }

.icon-down::before {
  content: "";
  background: url(../img/icon-down-spok.png) 50% 50% no-repeat;
  position: absolute;
  top: 0px;
  right: -340px;
  width: 15px;
  height: 15px;
 }

.icon-up:hover::before {
  background-image: url(../img/icon-up-dir.svg);
 }
.icon-down:hover::before {
  background-image: url(../img/icon-down-dir.svg);
 }

.icon-up:active::before {
  background-image: url(../img/icon-up-click.png);
 }
 .icon-down:active::before {
  background-image: url(../img/icon-down-click.png);
 }

.act::before {
  background-image: url(../img/icon-down-click.png);
 }

.search2,
.search3 > div {
	border-bottom: 1px solid #cacaca;
}

.wrap-amara,
.wrap-desert,
.wrap-villas {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 84px 0 72px;
	align-items: center;
	position: relative;
}

.amara,
.desert,
.villas {
	margin-right: 30px;
	padding-top: 3px;
}

.amara-name,
.desert-name,
.villas-name {
	margin-right: auto;
	text-align: left;
	display: flex;
	align-content: center;
	width: 260px;
	flex-wrap: wrap;
	margin-bottom: 26px;
}

.details-item,
.reserve-item {
	display: flex;
	flex-direction: column;
}

.reserve-item {
	margin-left: 6px;
}

.amara-name span,
.desert-name span,
.villas-name span{
	margin-bottom: 11px;
}

.amara-name h2,
.desert-name h2,
.villas-name h2 {
	display: block;
	padding: 26px 0 7px 0;
	margin: 0
}

.star {
	font-size: 0;
	margin-top: 43px;
}

.star::after {
  content: "";
  background: url(../img/star.svg);
  position: absolute;
  width: 88px;
  height:18px;
  top: 30px;
  right: 73px;
  background-repeat: space;
}

.desert-rating .desert-star::after {
  width: 65px;
 }

.villas-rating .villas-star::after {
  width: 40px;
 }

footer svg{
  fill: #231f20;
}

footer svg:hover{
  fill: #81b3d2;
}

footer svg:active{
  fill: #bdbbbc;
}

svg {
  width: 115px;
  height: 40px;
  margin-left: 7px
}

.map{
  width: 100%;
  height: 592px;
  margin: 0px auto;
  background: #cbdda9;
}

.number span {
	margin: 4px 0px 7px;
}

.main1 span {
	margin: 0px 0px 5px;
}

.search2 span {
	margin: 0 40px 0 45px;
}