* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	line-height: 100%;
	color: black;
	font-weight: normal;
	font-family: PT Sans, Arial, Tahoma, Verdana, sans-serif;
}

.amara-name h1 {  
	font-size: 18px;
	line-height: 100%;
	color: black;
	font-weight: bold;
	font-family: PT Sans, Arial, Tahoma, Verdana, sans-serif;
}

.amara-name h2 {
	font-size: 14px;
	line-height: 100%;
	color: black;
	font-weight: bold;
	font-family: PT Sans, Arial, Tahoma, Verdana, sans-serif;
}